/*
	****************** Sizes ******************
*/

$desktopHD: 1200px;
$desktop: 960px;
$tablet: 768px;
$mobile: 540px;

$gridsize: 12;

$gutter: 20px;
$vgutter: 50px;

/*
	****************** Colors ******************
*/

$colour_1: #fffafa;
$colour_2: rgb(238, 216, 148);
$colour_3: #000000;

$white: #ffffff;
$black: #000000;